@import "tailwindcss";
@theme {
  --color-primary: #7749f8;
  --color-primary-light: #9775fa;
  --color-dark: #212529;
  --color-light: #f8f9fa;
  --color-gray: #868e96;
  --color-danger: #fa5252;
  --color-success: #40c057;
  --color-border: #e9ecef;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.activ {
  color: #7749f8;
  border-bottom: 2px solid #7749f8;
  font-weight: 500;
}
div .amo{
  border-bottom: 1px solid #e9ecef;

}
.done{
  background-color: #40c057;
  position: relative;
}
.done::after{
         content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .done-text {
    text-decoration: line-through;
    color: #868e96;
}
  